<IfModule mod_rewrite.c>
    RewriteEngine On

    # Rediriger toutes les requêtes vers le dossier public sauf si déjà dans public
    RewriteCond %{REQUEST_URI} !^/public/
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ /public/$1 [L,QSA]
    
    # Redirect root domain to /login
    RewriteCond %{REQUEST_URI} ^/$
    RewriteRule ^ /login [L,R=301]
</IfModule>